tableplanner.txt
GiftBox_v1.webm
images/jeff_headshot - Copy.jpg
images/jeff_headshot_1.jpg
images/jeff_headshot_2.jpg
images/jeff_headshot_3.jpg
images/jeff_headshot_4.jpg
images/jeff_headshot_5.jpg
images/jeff_headshot_6.jpg
images/jeff_headshot.jpg
Jeff_Simple_CV.pdf
images/mel.png
images/jeff_headshot_7.jpg
輸出pdf不要用微軟print連結才能點而且margin要設minimum
Jeff_蔡侑宏_104.pdf
